@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Porsche Next Arabic TT Bold;
  font-display: swap;
  src: url("../fonts/Porsche Next Arabic TT Bold.woff2") format("woff2"), url("../fonts/Porsche Next Arabic TT Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2A2A2A;
  line-height: 1;
  font-family: "Manrope";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 102.6875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.5625vw 0.5208333333vw;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding: 1.0416666667vw;
  width: 100%;
  max-width: 46.875vw;
  border-radius: 1.0416666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lock .popup__content {
  visibility: visible;
}

.popup__map {
  margin: 0.5208333333vw auto;
  width: 45.8333333333vw;
  height: 23.4375vw;
}

.header__map .popup__content {
  background-color: transparent;
}

.content-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5208333333vw;
  position: relative;
}

.close-map {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 700;
  font-size: 1.0416666667vw;
  padding: 0.5208333333vw;
  position: absolute;
  top: 1.5625vw;
  right: -6.25vw;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1.0416666667vw;
}

.form-popup {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.form-popup__title {
  font-weight: 500;
  font-size: 1.6666666667vw;
  line-height: 2.2916666667vw;
  color: #fff;
  max-width: 14.6875vw;
  text-align: center;
  padding-bottom: 0.8333333333vw;
}

.form-popup__text {
  font-size: 0.9375vw;
  line-height: 1.4583333333vw;
  color: #fff;
  max-width: 18.2291666667vw;
  text-align: center;
  padding-bottom: 1.875vw;
}

.form-popup__number {
  font-size: 0.7291666667vw;
  line-height: 0.9895833333vw;
  color: #FFFFFF;
  padding-left: 2.4479166667vw;
  padding-bottom: 0.625vw;
}

.form-popup__form {
  display: -ms-grid;
  display: grid;
}

.form-popup__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7291666667vw;
  padding-top: 1.3020833333vw;
}

.form-popup__icon {
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  background-color: #fff;
  border-radius: 0.2604166667vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.form-popup__icon._active-icon {
  background-color: #FD2016;
  position: relative;
}

.form-popup__icon._active-icon::before {
  content: "";
  background: url(../img/icons/check-white.svg) center/cover no-repeat;
  width: 0.4166666667vw;
  height: 0.3125vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-popup__info {
  font-size: 0.7291666667vw;
  line-height: 0.9895833333vw;
  color: #fff;
  max-width: 16.6145833333vw;
}

.form-popup__info a {
  color: #FD2016;
}

.input-phone {
  max-width: 18.90625vw;
  padding: 1.4583333333vw 2.4479166667vw;
  border-radius: 50px;
  margin-bottom: 1.3020833333vw;
  font-size: 0.9375vw;
  line-height: 1.25vw;
  letter-spacing: 0.03em;
  outline: none;
}

.input-phone::-webkit-input-placeholder {
  color: #B0B0B1;
}

.input-phone::-moz-placeholder {
  color: #B0B0B1;
}

.input-phone:-ms-input-placeholder {
  color: #B0B0B1;
}

.input-phone::-ms-input-placeholder {
  color: #B0B0B1;
}

.input-phone::placeholder {
  color: #B0B0B1;
}

.button {
  font-weight: 600;
  font-size: 0.8333333333vw;
  line-height: 1.25vw;
  color: #fff;
  letter-spacing: 0.04em;
  width: 18.90625vw;
  height: 4.4270833333vw;
  background: #FD2016;
  border-radius: 50px;
}

.content-form {
  background-color: #242020;
  max-width: 26.0416666667vw;
  padding-top: 2.34375vw;
  padding-bottom: 3.90625vw;
}

.close-form {
  position: relative;
}

.close-form::before {
  content: "";
  background: url(../img/icons/close.svg) center/cover no-repeat;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  position: absolute;
  top: 0;
  right: 0.8854166667vw;
}

.popup__sent {
  font-weight: 500;
  font-size: 1.6666666667vw;
  line-height: 2.2916666667vw;
  color: #fff;
  text-align: center;
}

.content-sent {
  background-color: #242020;
  max-width: 26.0416666667vw;
  padding-top: 2.34375vw;
  padding-bottom: 3.90625vw;
  width: 100%;
  height: 100%;
}

.close-sent {
  position: relative;
}

.close-sent::before {
  content: "";
  background: url(../img/icons/close.svg) center/cover no-repeat;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  position: absolute;
  top: -1.0416666667vw;
  right: 0.2604166667vw;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1.1458333333vw;
  padding-left: 7.2916666667vw;
  padding-right: 7.1354166667vw;
  max-width: 100%;
  position: relative;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1979166667vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 1.1432291667vw;
  position: relative;
  z-index: 50;
}

.header__items::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.0520833333vw;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.15);
}

.header__logo img {
  width: 11.09375vw;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.96875vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__about-us {
  font-size: 0.5729166667vw;
  line-height: 1.0416666667vw;
  letter-spacing: 0.02em;
  width: 7.3958333333vw;
}

.header__address {
  font-size: 0.5729166667vw;
  line-height: 0.9375vw;
  width: 10.5208333333vw;
  padding-left: 2.34375vw;
  position: relative;
}

.header__address::before {
  content: "";
  background: url(../img/icons/map.svg) center/cover no-repeat;
  width: 1.8229166667vw;
  height: 1.8229166667vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.header__map {
  font-weight: 700;
  font-size: 0.5729166667vw;
  line-height: 0.78125vw;
  letter-spacing: 0.05em;
  padding-left: 1.1458333333vw;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.header__map::before {
  content: "";
  background: url(../img/icons/location.svg) center/cover no-repeat;
  width: 0.625vw;
  height: 0.7791666667vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.header__map p {
  padding-bottom: 0.2078125vw;
  position: relative;
}

.header__map p::after {
  content: "";
  border-bottom: 0.1041666667vw dotted #FD2016;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__map p:hover::after {
  width: 65%;
}

.header__calculate {
  font-weight: 700;
  font-size: 0.5729166667vw;
  line-height: 0.9895833333vw;
  letter-spacing: 0.05em;
  width: 10.0520833333vw;
  padding-left: 2.3958333333vw;
  cursor: pointer;
  position: relative;
}

.header__calculate::before {
  content: "";
  background: url(../img/icons/icon.svg) center/cover no-repeat;
  width: 1.8244791667vw;
  height: 1.81875vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  z-index: 2;
}

.header__calculate span {
  padding-bottom: 0.2598958333vw;
  position: relative;
}

.header__calculate span::after {
  content: "";
  border-bottom: 0.1041666667vw dotted #FD2016;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__calculate:hover span::after {
  width: 65%;
}

.header__phone {
  display: -ms-grid;
  display: grid;
}

.header__form {
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 0.5208333333vw;
}

.header__call {
  font-size: 0.625vw;
  line-height: 0.5208333333vw;
  letter-spacing: 0.02em;
  padding-left: 0.5208333333vw;
  padding-bottom: 0.46875vw;
  white-space: nowrap;
  position: relative;
}

.header__call::before {
  content: "";
  background-color: #20C863;
  border-radius: 50%;
  width: 0.2083333333vw;
  height: 0.2083333333vw;
  position: absolute;
  top: 15%;
  left: 0;
}

.header__number {
  padding-top: 0.2083333333vw;
  padding-bottom: 0.2604166667vw;
  height: 1.1458333333vw;
}

.header__request {
  -ms-grid-column-align: center;
      justify-self: center;
  line-height: 1.09375vw;
  letter-spacing: 0.05em;
  font-size: 0.625vw;
  max-width: 6.3020833333vw;
  padding-right: 0.9375vw;
  cursor: pointer;
  position: relative;
}

.header__request::before {
  content: "";
  background: url(../img/icons/phone.svg) center/cover no-repeat;
  width: 0.3125vw;
  height: 0.3119791667vw;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.header__request p {
  position: relative;
}

.header__request p::after {
  content: "";
  border-bottom: 0.1041666667vw dotted #FD2016;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__request p:hover::after {
  width: 65%;
}

.question-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375vw;
}

.question-header__text {
  font-size: 0.5729166667vw;
  line-height: 0.9375vw;
  letter-spacing: 0.03em;
  max-width: 5.5208333333vw;
}

.question-header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3109375vw;
}

.question-header__icon img {
  width: 1.8244791667vw;
}

.number-header__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number-header__phone {
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 0.5208333333vw;
  white-space: nowrap;
}

.number-header__arrow {
  padding-left: 0.2083333333vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-header__arrow img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0.46875vw;
  height: 0.2598958333vw;
}

.number-header__arrow._spoller-active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.number-header__list {
  position: absolute;
  top: 0.78125vw;
  width: 100%;
  left: -0.2604166667vw;
  padding: 0.78125vw 0.2604166667vw;
  border-radius: 0.5208333333vw;
  background: #fff;
  z-index: 2;
}

.number-header__list li:not(:last-child) {
  margin-bottom: 0.78125vw;
}

._open-map {
  display: none;
}

._open-map img {
  width: 13.0208333333vw;
  height: 12.5vw;
}

.header__map:hover ._open-map {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.0416666667vw;
  left: -3.0208333333vw;
  z-index: 10;
}

.menu {
  padding-top: 1.1432291667vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 600;
  font-size: 0.625vw;
  line-height: 1rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #FD2016;
}

.services {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.services__link {
  display: none;
}

.ask-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.ask-header__image img {
  width: 4.0625rem;
  height: 4.0625rem;
}

.ask-header__info {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
}

.ask-header__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.03em;
  color: #1C1C1C;
  max-width: 12.8125rem;
}

.ask-header__text span {
  font-weight: 600;
}

.ask-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3975rem;
}

.mobile-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.mobile-address__image img {
  width: 4.0625rem;
  height: 4.0625rem;
}

.mobile-address__text {
  display: -ms-grid;
  display: grid;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: 0.05em;
  max-width: 12.8125rem;
  -ms-grid-row-align: center;
      align-self: center;
}

.mobile-address__text span {
  font-weight: 800;
  position: relative;
}

.mobile-address__text span::after {
  content: "";
  border-bottom: 2px dotted #FD2016;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-address__text:hover span::after {
  width: 65%;
}

.mobile-calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.mobile-calculate__image img {
  width: 4.0625rem;
  height: 4.0625rem;
}

.mobile-calculate__text {
  display: -ms-grid;
  display: grid;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: 0.05em;
  max-width: 12.8125rem;
  -ms-grid-row-align: center;
      align-self: center;
}

@supports (max-width: clamp( 9.125rem , 6.8485772358rem  +  11.3821138211vw , 18.75rem )) {
  .mobile-calculate__text {
    max-width: clamp( 9.125rem , 6.8485772358rem  +  11.3821138211vw , 18.75rem );
  }
}

@supports not (max-width: clamp( 9.125rem , 6.8485772358rem  +  11.3821138211vw , 18.75rem )) {
  .mobile-calculate__text {
    max-width: calc(9.125rem + 9.625 * (100vw - 20rem) / 84.5625);
  }
}

.mobile-calculate__text span {
  font-weight: 800;
  position: relative;
  max-width: 4.75rem;
}

.mobile-calculate__text span::after {
  content: "";
  border-bottom: 2px dotted #FD2016;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-calculate__text:hover span::after {
  width: 60%;
}

.menu-open .header__request,
.menu-open .header__call,
.menu-open .number-header__phone {
  color: #2A2A2A;
}

._header-scroll .header__request,
._header-scroll .header__call,
._header-scroll .number-header__phone {
  color: #2A2A2A;
}

._header-scroll .icon-menu::before,
._header-scroll .icon-menu::after,
._header-scroll .icon-menu span {
  background-color: #000;
}

.no-webp .home{
  background: url(../img/bg.jpg); }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.1770833333vw;
}

@supports (padding-top: clamp( 3.75rem , 2.5674427199rem  +  5.9127864006vw , 8.75rem )) {
  .home {
    padding-top: clamp( 3.75rem , 2.5674427199rem  +  5.9127864006vw , 8.75rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 2.5674427199rem  +  5.9127864006vw , 8.75rem )) {
  .home {
    padding-top: calc(3.75rem + 5 * (100vw - 20rem) / 84.5625);
  }
}

.home__scroll {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 2.8125vw;
  font-family: Porsche Next Arabic TT Bold;
  font-weight: 700;
  font-size: 0.8333333333vw;
  line-height: 1.3020833333vw;
  letter-spacing: 0.1em;
  color: #EFEFEF;
  position: relative;
}

.home__scroll::before {
  content: "";
  width: 0.1041666667vw;
  height: 25.4166666667vw;
  background-color: #EFEFEF;
  position: absolute;
  top: -26.25vw;
  left: 16%;
}

.home__scroll::after {
  content: "";
  position: absolute;
  bottom: 33.8541666667vw;
  left: 14%;
  background: url(../img/icons/circle.svg) center/cover no-repeat;
  width: 0.2036458333vw;
  height: 0.203125vw;
  -webkit-animation: circle 1s infinite ease-in-out;
          animation: circle 1s infinite ease-in-out;
}

@-webkit-keyframes circle {
  0% {
    bottom: 33.8541666667vw;
  }

  100% {
    bottom: 34.1145833333vw;
  }
}

@keyframes circle {
  0% {
    bottom: 33.8541666667vw;
  }

  100% {
    bottom: 34.1145833333vw;
  }
}

.home__mouse {
  position: absolute;
  bottom: 33.3333333333vw;
  left: 5%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home__mouse img {
  width: 0.9375vw;
  height: 1.6145833333vw;
}

.home__info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 6.3447916667vw;
}

.home__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 9.8958333333vw;
  max-width: 79.375vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

.info-home {
  padding-left: 5.9375vw;
  padding-top: 6.5104166667vw;
}

.info-home__title {
  font-size: 3.3854166667vw;
  line-height: 4.9479166667vw;
  max-width: 49.53125vw;
  color: #fff;
}

.info-home__title span:not(:last-child) {
  font-weight: 600;
}

.info-home__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1458333333vw;
  padding-top: 2.34375vw;
}

.separately {
  display: block;
  padding-top: 2.34375vw;
  font-size: 1.40625vw;
  line-height: 2.34375vw;
  letter-spacing: 0.02em;
  color: #fff;
}

.button-calculate {
  padding-right: 4.7395833333vw;
  padding-left: 2.8125vw;
  background-color: #FD2016;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-calculate::before {
  content: "";
  background: url(../img/icons/arrow.svg) center/cover no-repeat;
  width: 1.146875vw;
  height: 1.140625vw;
  position: absolute;
  top: 50%;
  right: 2.8635416667vw;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-calculate:hover {
  background-color: #ce1c13;
  border: 1px solid #fff;
}

.button-calculate:hover::before {
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

.button-know {
  padding-right: 1.71875vw;
  padding-left: 3.8020833333vw;
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-know::before {
  content: "";
  background: url(../img/icons/whatsapp.svg) center/cover no-repeat;
  width: 1.5625vw;
  height: 1.5588541667vw;
  position: absolute;
  top: 50%;
  left: 2.2395833333vw;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.button-know:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.button-know,
.button-calculate {
  width: 20.8333333333vw;
  height: 5.2083333333vw;
  font-weight: 600;
  font-size: 0.8333333333vw;
  color: #fff;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.button-know::after,
.button-calculate::after {
  content: "";
  height: 26.0416666667vw;
  left: 0;
  position: absolute;
  top: -70%;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  width: 2.6041666667vw;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.04)), to(rgba(255, 255, 255, 0.4)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.4));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.4));
  -webkit-animation: shine 3s infinite linear;
          animation: shine 3s infinite linear;
}

@-webkit-keyframes shine {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}

@keyframes shine {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}

.items-home_mobile {
  display: none;
}

.items-home__item {
  font-weight: 300;
  font-size: 0.8854166667vw;
  line-height: 1.40625vw;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 3.6979166667vw;
}

.items-home__item span {
  font-weight: 800;
}

.items-home__item:first-child {
  min-width: 9.8958333333vw;
}

.items-home__item::before {
  content: "";
  background: url(../img/icons/check.svg) center/cover no-repeat;
  width: 0.6875vw;
  height: 0.4989583333vw;
  position: absolute;
  top: -1.5625vw;
  left: 0;
}

.items-home__item:not(:last-child)::after {
  content: "";
  background-color: #fff;
  opacity: 0.25;
  width: 9.375vw;
  height: 0.0520833333vw;
  position: absolute;
  top: 39%;
  left: 105%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.block {
  height: 200vw;
}

@media (min-width: 47.99875em) {
  .ask-header {
    display: none;
  }

  .mobile-address {
    display: none;
  }

  .mobile-calculate {
    display: none;
  }
}

@media (max-width: 300px) {
  .header {
    position: fixed;
  }
}

@media (max-width: 47.99875em) {
  .form-popup__title {
    font-size: 2rem;
    line-height: 2.75rem;
    max-width: 17.625rem;
    padding-bottom: 1rem;
  }

  .form-popup__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 21.875rem;
    padding-bottom: 2.25rem;
  }

  .form-popup__number {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    padding-left: 2.9375rem;
    padding-bottom: 0.75rem;
  }

  .form-popup__check {
    gap: 1.5625rem;
    padding-top: 1.5625rem;
  }

  .form-popup__icon {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.3125rem;
  }

  .form-popup__icon._active-icon::before {
    width: 0.5rem;
    height: 0.375rem;
  }

  .form-popup__info {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    max-width: 12.9375rem;
  }

  .input-phone {
    font-size: 1.125rem;
    line-height: 1.5rem;
    max-width: 17.6875rem;
    margin-bottom: 1.5625rem;
    padding: 1.75rem 2.9375rem;
  }

  .button {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 17.6875rem;
    height: 5.3125rem;
  }

  .content-form {
    max-width: 21.875rem;
    padding-top: 2.8125rem;
    padding-bottom: 4.6875rem;
  }

  .close-form::before {
    width: 1.25rem;
    height: 1.25rem;
    right: 1.0625rem;
    top: -1.5rem;
  }

  .popup__sent {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  .content-sent {
    max-width: 31.25rem;
    padding-top: 2.8125rem;
  }

  .close-sent::before {
    width: 1.25rem;
    height: 1.25rem;
    top: -1.25rem;
    right: 0.3125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 0.921875rem;
    height: 0.84875rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #000;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__items::after {
    display: none;
  }

@supports (width: clamp( 5.75rem , 3.9613821138rem  +  8.9430894309vw , 13.3125rem )) {
    .header__logo img {
      width: clamp( 5.75rem , 3.9613821138rem  +  8.9430894309vw , 13.3125rem );
    }
}

@supports not (width: clamp( 5.75rem , 3.9613821138rem  +  8.9430894309vw , 13.3125rem )) {
    .header__logo img {
      width: calc(5.75rem + 7.5625 * (100vw - 20rem) / 84.5625);
    }
}

  .header__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0.3125rem;
  }

  .header__about-us {
    display: none;
  }

  .header__address {
    display: none;
  }

  .header__map {
    display: none;
  }

  .header__calculate {
    display: none;
  }

  .header__call {
    line-height: 0.625rem;
    padding-left: 0.875rem;
    padding-bottom: 0.3125rem;
    color: #fff;
  }

@supports (font-size: clamp( 0.375rem , 0.286308204rem  +  0.44345898vw , 0.75rem )) {
    .header__call {
      font-size: clamp( 0.375rem , 0.286308204rem  +  0.44345898vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.375rem , 0.286308204rem  +  0.44345898vw , 0.75rem )) {
    .header__call {
      font-size: calc(0.375rem + 0.375 * (100vw - 20rem) / 84.5625);
    }
}

  .header__call::before {
    width: 0.25rem;
    height: 0.25rem;
    top: 20%;
    left: 0.375rem;
  }

  .header__number {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
  }

  .header__request {
    line-height: 1.3125rem;
    max-width: 7.5625rem;
    padding-right: 0px;
    color: #fff;
  }

@supports (font-size: clamp( 0.375rem , 0.286308204rem  +  0.44345898vw , 0.75rem )) {
    .header__request {
      font-size: clamp( 0.375rem , 0.286308204rem  +  0.44345898vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.375rem , 0.286308204rem  +  0.44345898vw , 0.75rem )) {
    .header__request {
      font-size: calc(0.375rem + 0.375 * (100vw - 20rem) / 84.5625);
    }
}

  .header__request::before {
    right: -0.375rem;
  }

@supports (width: clamp( 0.25rem , 0.220436068rem  +  0.14781966vw , 0.375rem )) {
    .header__request::before {
      width: clamp( 0.25rem , 0.220436068rem  +  0.14781966vw , 0.375rem );
    }
}

@supports not (width: clamp( 0.25rem , 0.220436068rem  +  0.14781966vw , 0.375rem )) {
    .header__request::before {
      width: calc(0.25rem + 0.125 * (100vw - 20rem) / 84.5625);
    }
}

@supports (height: clamp( 0.25rem , 0.220436068rem  +  0.14781966vw , 0.375rem )) {
    .header__request::before {
      height: clamp( 0.25rem , 0.220436068rem  +  0.14781966vw , 0.375rem );
    }
}

@supports not (height: clamp( 0.25rem , 0.220436068rem  +  0.14781966vw , 0.375rem )) {
    .header__request::before {
      height: calc(0.25rem + 0.125 * (100vw - 20rem) / 84.5625);
    }
}

  .header__request p {
    position: relative;
  }

  .header__request p::after {
    border-bottom: 2px dotted #FD2016;
  }

  .question-header {
    display: none;
  }

  .number-header__phone {
    line-height: 0.625rem;
    color: #fff;
  }

@supports (font-size: clamp( 0.75rem , 0.631744272rem  +  0.5912786401vw , 1.25rem )) {
    .number-header__phone {
      font-size: clamp( 0.75rem , 0.631744272rem  +  0.5912786401vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.631744272rem  +  0.5912786401vw , 1.25rem )) {
    .number-header__phone {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 84.5625);
    }
}

  .number-header__arrow {
    display: none;
  }

  .number-header__list {
    display: none;
  }

  .menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    padding-bottom: 1.875rem;
    z-index: 2;
  }

@supports (padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .menu__body {
      padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .menu__body {
      padding-top: calc(1.875rem + 0 * (100vw - 20rem) / 84.5625);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    z-index: 2;
  }

@supports (min-height: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem )) {
    .menu__body::before {
      min-height: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem )) {
    .menu__body::before {
      min-height: calc(3.75rem + 0 * (100vw - 20rem) / 84.5625);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.5rem;
  }

@supports (row-gap: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .menu__list {
      row-gap: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
    .menu__list {
      row-gap: calc(1.25rem + 0 * (100vw - 20rem) / 84.5625);
    }
}

  .menu__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__item {
    display: -ms-grid;
    display: grid;
  }

  .menu__item:first-child {
    display: none;
  }

  .menu__link {
    font-size: 0.75rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .services__link {
    display: block;
    font-size: 0.75rem;
    line-height: 1.5625rem;
    color: #929292;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .services__link:not(:last-child) {
    margin-top: 0.875rem;
  }

  .services__link:hover {
    color: #FD2016;
  }

  ._header-scroll {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    z-index: 10;
  }

@supports (padding-bottom: clamp( 3.0625rem , 2.899898374rem  +  0.8130081301vw , 3.75rem )) {
    .home {
      padding-bottom: clamp( 3.0625rem , 2.899898374rem  +  0.8130081301vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.0625rem , 2.899898374rem  +  0.8130081301vw , 3.75rem )) {
    .home {
      padding-bottom: calc(3.0625rem + 0.6875 * (100vw - 20rem) / 84.5625);
    }
}

  .home__scroll {
    display: none;
  }

  .home__items {
    display: none;
  }

@supports (padding-left: clamp( 1.4375rem , 1.186206578rem  +  1.2564671101vw , 2.5rem )) {
    .info-home {
      padding-left: clamp( 1.4375rem , 1.186206578rem  +  1.2564671101vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.4375rem , 1.186206578rem  +  1.2564671101vw , 2.5rem )) {
    .info-home {
      padding-left: calc(1.4375rem + 1.0625 * (100vw - 20rem) / 84.5625);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -0.2956392427rem  +  1.4781965262vw , 1.25rem )) {
    .info-home {
      padding-top: clamp( 0.0000000625rem , -0.2956392427rem  +  1.4781965262vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -0.2956392427rem  +  1.4781965262vw , 1.25rem )) {
    .info-home {
      padding-top: calc(0.0000000625rem + 1.2499999375 * (100vw - 20rem) / 84.5625);
    }
}

  .info-home__title {
    letter-spacing: 0.02em;
  }

@supports (font-size: clamp( 1.25rem , 0.5848115299rem  +  3.3259423503vw , 4.0625rem )) {
    .info-home__title {
      font-size: clamp( 1.25rem , 0.5848115299rem  +  3.3259423503vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5848115299rem  +  3.3259423503vw , 4.0625rem )) {
    .info-home__title {
      font-size: calc(1.25rem + 2.8125 * (100vw - 20rem) / 84.5625);
    }
}

@supports (line-height: clamp( 1.8125rem , 0.8368902439rem  +  4.8780487805vw , 5.9375rem )) {
    .info-home__title {
      line-height: clamp( 1.8125rem , 0.8368902439rem  +  4.8780487805vw , 5.9375rem );
    }
}

@supports not (line-height: clamp( 1.8125rem , 0.8368902439rem  +  4.8780487805vw , 5.9375rem )) {
    .info-home__title {
      line-height: calc(1.8125rem + 4.125 * (100vw - 20rem) / 84.5625);
    }
}

@supports (max-width: clamp( 14.375rem , 3.7172025129rem  +  53.2889874353vw , 59.4375rem )) {
    .info-home__title {
      max-width: clamp( 14.375rem , 3.7172025129rem  +  53.2889874353vw , 59.4375rem );
    }
}

@supports not (max-width: clamp( 14.375rem , 3.7172025129rem  +  53.2889874353vw , 59.4375rem )) {
    .info-home__title {
      max-width: calc(14.375rem + 45.0625 * (100vw - 20rem) / 84.5625);
    }
}

  .info-home__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

@supports (padding-top: clamp( 1.8125rem , 1.575988544rem  +  1.1825572801vw , 2.8125rem )) {
    .info-home__btn {
      padding-top: clamp( 1.8125rem , 1.575988544rem  +  1.1825572801vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.8125rem , 1.575988544rem  +  1.1825572801vw , 2.8125rem )) {
    .info-home__btn {
      padding-top: calc(1.8125rem + 1 * (100vw - 20rem) / 84.5625);
    }
}

@supports (gap: clamp( 0.9375rem , 0.834026238rem  +  0.5173688101vw , 1.375rem )) {
    .info-home__btn {
      gap: clamp( 0.9375rem , 0.834026238rem  +  0.5173688101vw , 1.375rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.834026238rem  +  0.5173688101vw , 1.375rem )) {
    .info-home__btn {
      gap: calc(0.9375rem + 0.4375 * (100vw - 20rem) / 84.5625);
    }
}

  .separately {
    max-width: 16.1875rem;
  }

@supports (padding-top: clamp( 1.75rem , 1.498706578rem  +  1.2564671101vw , 2.8125rem )) {
    .separately {
      padding-top: clamp( 1.75rem , 1.498706578rem  +  1.2564671101vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.75rem , 1.498706578rem  +  1.2564671101vw , 2.8125rem )) {
    .separately {
      padding-top: calc(1.75rem + 1.0625 * (100vw - 20rem) / 84.5625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.52827051rem  +  1.1086474501vw , 1.6875rem )) {
    .separately {
      font-size: clamp( 0.75rem , 0.52827051rem  +  1.1086474501vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.52827051rem  +  1.1086474501vw , 1.6875rem )) {
    .separately {
      font-size: calc(0.75rem + 0.9375 * (100vw - 20rem) / 84.5625);
    }
}

@supports (line-height: clamp( 1.125rem , 0.725886918rem  +  1.9955654102vw , 2.8125rem )) {
    .separately {
      line-height: clamp( 1.125rem , 0.725886918rem  +  1.9955654102vw , 2.8125rem );
    }
}

@supports not (line-height: clamp( 1.125rem , 0.725886918rem  +  1.9955654102vw , 2.8125rem )) {
    .separately {
      line-height: calc(1.125rem + 1.6875 * (100vw - 20rem) / 84.5625);
    }
}

  .button-calculate {
    padding: 0 3.125rem;
  }

  .button-calculate::before {
    display: none;
  }

  .button-know {
    padding-left: 0;
    padding-right: 0;
  }

  .button-know::before {
    display: none;
  }

  .button-know span {
    color: #20C863;
  }

@supports (width: clamp( 17.25rem , 15.4170362158rem  +  9.1648189209vw , 25rem )) {
    .button-know,
    .button-calculate {
      width: clamp( 17.25rem , 15.4170362158rem  +  9.1648189209vw , 25rem );
    }
}

@supports not (width: clamp( 17.25rem , 15.4170362158rem  +  9.1648189209vw , 25rem )) {
    .button-know,
    .button-calculate {
      width: calc(17.25rem + 7.75 * (100vw - 20rem) / 84.5625);
    }
}

@supports (height: clamp( 3.75rem , 3.1587213599rem  +  2.9563932003vw , 6.25rem )) {
    .button-know,
    .button-calculate {
      height: clamp( 3.75rem , 3.1587213599rem  +  2.9563932003vw , 6.25rem );
    }
}

@supports not (height: clamp( 3.75rem , 3.1587213599rem  +  2.9563932003vw , 6.25rem )) {
    .button-know,
    .button-calculate {
      height: calc(3.75rem + 2.5 * (100vw - 20rem) / 84.5625);
    }
}

@supports (max-width: clamp( 17.25rem , 7.272172949rem  +  49.889135255vw , 59.4375rem )) {
    .button-know,
    .button-calculate {
      max-width: clamp( 17.25rem , 7.272172949rem  +  49.889135255vw , 59.4375rem );
    }
}

@supports not (max-width: clamp( 17.25rem , 7.272172949rem  +  49.889135255vw , 59.4375rem )) {
    .button-know,
    .button-calculate {
      max-width: calc(17.25rem + 42.1875 * (100vw - 20rem) / 84.5625);
    }
}

@supports (font-size: clamp( 0.625rem , 0.536308204rem  +  0.44345898vw , 1rem )) {
    .button-know,
    .button-calculate {
      font-size: clamp( 0.625rem , 0.536308204rem  +  0.44345898vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.536308204rem  +  0.44345898vw , 1rem )) {
    .button-know,
    .button-calculate {
      font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 84.5625);
    }
}

  .button-know::after,
  .button-calculate::after {
    height: 28.125rem;
    width: 3.125rem;
  }

  .items-home_mobile {
    padding: 2.1875rem 1.4375rem 0 1.4375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
    row-gap: 2.5rem;
  }

  .items-home__item {
    color: #2A2A2A;
    font-weight: 300;
    padding-bottom: 0;
  }

  .items-home__item::after {
    display: none;
  }

@supports (font-size: clamp( 0.625rem , 0.521526238rem  +  0.5173688101vw , 1.0625rem )) {
    .items-home__item {
      font-size: clamp( 0.625rem , 0.521526238rem  +  0.5173688101vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.521526238rem  +  0.5173688101vw , 1.0625rem )) {
    .items-home__item {
      font-size: calc(0.625rem + 0.4375 * (100vw - 20rem) / 84.5625);
    }
}

@supports (line-height: clamp( 0.9375rem , 0.760116408rem  +  0.8869179601vw , 1.6875rem )) {
    .items-home__item {
      line-height: clamp( 0.9375rem , 0.760116408rem  +  0.8869179601vw , 1.6875rem );
    }
}

@supports not (line-height: clamp( 0.9375rem , 0.760116408rem  +  0.8869179601vw , 1.6875rem )) {
    .items-home__item {
      line-height: calc(0.9375rem + 0.75 * (100vw - 20rem) / 84.5625);
    }
}

@supports (width: clamp( 7.5rem , 2.6219512195rem  +  24.3902439024vw , 28.125rem )) {
    .items-home__item {
      width: clamp( 7.5rem , 2.6219512195rem  +  24.3902439024vw , 28.125rem );
    }
}

@supports not (width: clamp( 7.5rem , 2.6219512195rem  +  24.3902439024vw , 28.125rem )) {
    .items-home__item {
      width: calc(7.5rem + 20.625 * (100vw - 20rem) / 84.5625);
    }
}

  .items-home__item:first-child {
    min-width: 7.8125rem;
  }

  .items-home__item:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .items-home__item::before {
    width: 0.825rem;
    height: 0.59875rem;
    top: -1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .menu__list {
    margin-left: 1.375rem;
  }

  .menu__item {
    width: 100%;
  }

  .menu__link {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .services {
    justify-items: baseline;
  }

  .ask-header {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .ask-header__text {
    max-width: 9.625rem;
  }

  .mobile-address {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .mobile-calculate {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

.webp .home{
	background: url(../img/bg.webp); 
	background-position: 7.1354166667vw 8.8020833333vw;
	background-size: cover;
	background-repeat: no-repeat;
}
@media(max-width: 47.99875em){
	.webp .home{
		background-position: 0 50%;
	}
}